<!DOCTYPE html>
<html>
  <head>
    <title>SelfcareSystem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Nes.cssの導入部分? -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet">
    
    <!-- jQuery 外部js,css -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/botui/build/botui.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/botui/build/botui-theme-default.css" />
    
    

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
    <script src="https://unpkg.com/botui/build/botui.min.js"></script>

  </head>

  <body>
    <%= yield %>
    
  </body>
</html>
