<!DOCTYPE html>
<html>
  <head>
    <title>SelfcareSystem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Nes.cssの導入部分? -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|" rel="stylesheet">
    <link href="https://unpkg.com/nes.css/css/nes.css" rel="stylesheet">
    
    <!-- jQuery 外部js,css -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <!-- 進行度、戻る/進むボタン -->
	  <div class="attach">
		  <button type="button" class="nes-btn is-disabled btn_attach_back">戻る</button>
		  <progress class="nes-progress is-primary attach_prog" value="0" max="100"></progress>
		  <button type="button" class="nes-btn is-disabled btn_attach_forward">進む</button>
	  </div>
	
	  <!-- 外枠、画面 -->
	  <div class="frame">
      <%= yield %>
	  </div>
    
  </body>
</html>
