<%= javascript_include_tag "plaza.js" %>
<%= javascript_tag do %>
    var current_user = <%= raw current_user.to_json %>;
    var current_user_routines = <%= raw current_user.routines.to_json %>;
    var routines = <%= raw @routines_selected.to_json %>;
    var categories = <%= raw @categories_selected.to_json %>;
    var avators = <%= raw @avators_selected.to_json %>;
<% end %>
<div class="swiper-container">
    <div class="swiper-wrapper plaza answer-off">
        <!-- 左ページ -->
        <div class="swiper-slide plaza_container1">
            <div class="char_container1">
                <div class="nes-container is-rounded life_index_container1">
                    <p class="life_index_left">
                        <!-- 指標 -->
                    </p>
                </div>
                <!-- 左のキャラクター画像 -->
                <%= image_tag "", class: "char_left" %>
            </div>
            <%= image_tag "imgs/other/table2-1.png", class: "table_left" %>
        </div>
        <!-- 中央ページ -->
        <div class="swiper-slide plaza_container2">
            <div class="char_container2">
                <div class="nes-container is-rounded life_index_container2">
                    <p class="life_index_center">
                        <!-- 指標 -->
                    </p>
                </div>
                <!-- 真ん中のキャラクター画像 -->
                <%= image_tag "", class: "char_center" %>
            </div>
            <%= image_tag "imgs/fairy/fairy_winter1.png", class: "fairy" %>
            <%= image_tag "imgs/other/table2.png", class: "table_center" %>
        </div>
        <!-- 右ページ -->
        <div class="swiper-slide plaza_container3">
            <div class="char_container3">
                <div class="nes-container is-rounded life_index_container3">
                    <p class="life_index_right">
                        <!-- 指標 -->
                    </p>
                </div>
                <!-- 右のキャラクター画像 -->
                <%= image_tag "", class: "char_right" %>
            </div>
            <%= image_tag "imgs/other/table2-2.png", class: "table_right" %>
        </div>
    </div>
    <!-- ページネーション、画面移動ボタン -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev nes-btn">←</div>
    <div class="swiper-button-next nes-btn">→</div>
</div>

<!-- 会話表示部分 -->
<div class="nes-container is-rounded talk">
    <p class="talk_who"></p>
    <p class="talk_text"></p>
    <img class="talker">
</div>
<!-- 会話履歴 -->
<div class="nes-container is-rounded talk_history">
    <button type="button" class="nes-btn btn_history_close">閉じる</button>
    <div class="talk_history_list">
        <p class="history_title">広場画面</p>
        <p class="history_intro">動物たちの話を聞いて<br>自分も意見を出してみよう。</p>
    </div>
    <button type="button" class="nes-btn btn_history_start">始める</button>
</div>
<!-- 入力フォーム & Yes/Noボタン & 履歴/次へボタン -->
<div class="nes-container is-rounded form">
    <div class="nes-field answer_text_container">
	    <input type="text" id="name_field" class="nes-input answer_text" placeholder="生活指標を単語で入力してね">
    </div>
    <div class="answer_frequency_container">
        <div class="nes-select answer_frequency1">
            <select class="answer_frequency_period">
                <option value="0" disabled selected hidden>頻度</option>
                <option value="1">日</option>
                <option value="2">週</option>
                <option value="3">月</option>
            </select>
        </div>
        <p>に</p>
        <div class="nes-select answer_frequency2">
            <select class="answer_frequency_count">
                <option value="0" disabled selected hidden>回数</option>
            </select>
        </div>
        <p>回</p>
    </div>
    <div class="answer_category_container">
        <label class="answer_category_health">
            <input type="checkbox" class="nes-checkbox checkbox_health" value="身体"/>
            <span>身体</span>
        </label>
        <label class="answer_category_mind">
            <input type="checkbox" class="nes-checkbox checkbox_mind" value="感覚"/>
            <span>感覚</span>
        </label>
        <label class="answer_category_sociality">
            <input type="checkbox" class="nes-checkbox checkbox_sociality" value="対人関係"/>
            <span>対人関係</span>
        </label>
        <label class="answer_category_expression">
            <input type="checkbox" class="nes-checkbox checkbox_expression" value="学び/精神"/>
            <span>学び/精神</span>
        </label>
    </div>
    <button type="button" class="nes-btn btn_submit">決定</button>
    <button type="button" class="nes-btn btn_cancel">キャンセル</button>
    <div class="answer_routine"></div>
</div>
<button type="button" class="nes-btn btn_yes">はい</button>
<button type="button" class="nes-btn btn_no">いいえ</button>
<button type="button" class="nes-btn btn_history">履歴</button>
<button type="button" class="nes-btn btn_next">次へ</button>